/****** CS FOR ENTIRE PAGE*****/
body {
  background: #43a977;
  font-family: "Courier New", Courier, monospace;
}

body,
h1,
p,
button {
  font-family: "Courier New", Courier, monospace;
}

/* includes the flowers and the text container */
#quizContentEntire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  gap: 50px;
}

/* container of all the content except for the flower; creating the card container for the flower */

.contentContainer {
  width: 800px;
  height: 255px;
  background-color: #f7f5e6;
  border-radius: 50px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1300px) {
  .contentContainer {
    width: 600px;
    height: 195px;
    background-color: #f7f5e6;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: smaller;
  }
}

/* styling the buttons */
button {
  background-color: #5ab398;
  border-radius: 15px;
  font-size: larger;
  color: black;
  border: none;
  width: 70px;
  height: 40px;
}

@media screen and (max-width: 1300px) {
  button {
    background-color: #5ab398;
    border-radius: 15px;
    font-size: small;
    color: black;
    border: none;
    width: 40;
    height: 22px;
  }
}

#questionNum {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f9f5e7;
  color: #2c2c2c;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #4caf50;
  position: absolute;
  left: 130px;
  top: 200px;
}

@media screen and (max-width: 1300px) {
  #questionNum {
    left: 50px;
    top: 100px;
  }
}

/****** CSS FOR QUESTION CONTENT ONLY *****/

/* resizing images to ensure they are proportionally correct to their container */

.questionImage {
  /* width: 80%;
    height: 80%; */
  object-fit: contain;
  border-radius: 10px; /* rouding the corners */
  padding: 5%;
  width: 200px;
  height: auto;
}

#questionAndButton {
  display: flex;
  flex-direction: column;
}

/****** CSS FOR RESPONSE CONTENT ONLY *****/
#responseTextContent {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

/****** CSS FOR RESULT CONTENT ONLY *****/
#resultsPage {
  display: flex;
}
#resultsText {
  margin: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1300px) {
  #resultsText {
    font-size: 12px;
  }
}

/****** CSS FOR FLOWER ONLY*****/

#flowerImage {
  width: 180px;
}
@media screen and (max-width: 1300px) {
  #flowerImage {
    width: 100px;
    height: auto;
  }
}
